/* index.module.css */

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 20px;
    margin-right: 20px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    padding: 10px;
    background-color: #dbb970;
    border-radius: 30px;
  }
  .navbar a {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
  }
  .navbar a:hover {
    background-color: #ddd;
  }
  .navLeft {
    display: flex;
  }
  .navRight {
    display: flex;
  }
  .searchBar {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .searchBar input {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #0e0d0d;

    border-radius: 5px;
  }
  .searchBar button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .content {
    display: flex;
    justify-content: space-between;
    
    margin: 20px;
  }
  
  .categorySelection {
    width: 25%;
    background-color:#f9f9f99c;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
.categorySelectionButton {
  background-color: #4CAF50; /* Зеленый цвет фона */
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Стили для выпадающего списка */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
  animation: fadeIn 0.5s;
}


.dropdownItem {
  display: block; 
  padding: 8px 12px; 
  cursor: pointer; 
}


.dropdownCheckbox {
  margin-right: 10px; 
}
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-20px);}
  to {opacity: 1; transform: translateY(0);}
}

.dropdownItem:hover {
  background-color: #ddd;
}

.showDropdown {
  display: block;
}

.listOfRecipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: flex-start;
  padding: 0;
}
.Recipes {
width: 65%;
padding: 20px;
border: 1px solid #ddd;
border-radius: 5px;
background-color:#f9f9f99c;
}
.recipeCard {
  width: 350px;
  height: 200px;
  margin: 20px; 
  padding: 20px; 
  border: 1px solid #ddd;
  border-radius: 4px; 
  background-color: #f9f9f9; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  transition: transform 0.3s ease; 
}

.recipeCard:hover {
  transform: translateY(-5px); 
}

.recipeCard h2 {
  margin-bottom: 10px; 
}

.recipeCard p {
  color: #666; 
}