.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-right: 20px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding: 10px;
  background-color: #dbb970;
  border-radius: 30px;
}
.navbar a {
  text-decoration: none;
  color: black;
  padding: 8px 15px;
  border-radius: 5px;
}
.navbar a:hover {
  background-color: #ddd;
}
.navLeft {
  display: flex;
}
.navRight {
  display: flex;
}
.recipeCard {
  width: calc(33.333% - 40px);
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.recipeCard:hover {
  transform: translateY(-5px);
}

.recipeCard h2 {
  margin-bottom: 10px;
}

.recipeCard p {
  color: #666;
}
.recipesList {
  width: 100%;
  padding: 0; /* Убираем padding, если он был установлен */
}
  