
  .navbar {
  display: flex;
  justify-content: space-between; /* Изменено на space-between для разделения элементов */
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-right: 20px;
  border-width: 1px;
  border-color: #000;
  border-style: solid ;
  padding: 10px;
  background-color: #dbb970;
  border-radius: 30px; /* Добавлено для закругления углов */
}
.navbar a {
  text-decoration: none;
  color: black;
  padding: 8px 15px; /* Добавлено для увеличения области клика */
  border-radius: 5px; /* Добавлено для закругления кнопок */
}
.navbar a:hover {
  background-color: #ddd; /* Добавлено для эффекта при наведении */
}
/* Группировка элементов меню */
.nav-left {
  display: flex;
}
.nav-right {
  display: flex;
}
.formcontainer {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Добавлен тень для контейнера */
  border-width: 1px;
  border-color: #000;
  border-style: solid ;
  padding: 20px;
  border-radius: 10px; /* Добавлено для закругления углов контейнера */
}

.formcontainer input {
  margin-bottom: 15px;
  padding: 15px;
  border: none; /* Убрана стандартная рамка */
  border-radius: 5px; /* Добавлено для закругления полей ввода */
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Добавлен внутренний тень для полей */
}

.formcontainer input[type="submit"] {
  background-color: #4CAF50; /* Изменен цвет кнопки */
  color: white;
  padding: 15px;
  margin-top: 10px; /* Добавлен отступ сверху */
  border-radius: 5px; /* Добавлено для закругления кнопки */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Добавлен тень для кнопки */
  border: none; /* Убрана стандартная рамка */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Добавлен эффект плавного изменения цвета */
}

.formcontainer input[type="submit"]:hover {
  background-color: #45a049; /* Изменен цвет кнопки при наведении */
}